@page "/killersudoku"

@inject ISudokuService sudokuService;

<link href="css/app.css" rel="stylesheet" />
<h1>KillerSudoku</h1>
<h2 id="errors">@errors</h2>

<div id="board">
    @if(board == null)
    {
        <h3>Loading...</h3>
    }
    else{
        @for(int i = 0; i < 9; i++)
        {
            @for(int j = 0; j < 9; j++)
            {
                int a = i;
                int b = j;
                int c = IndexOfKillerField(a, b);
                int value = ValueOfKillerField(a, b);
                <div id="@i.ToString() + - + @j.ToString()" class="tile" style="background-color:@colors[c]" @onclick="() => SelectTile(a, b)">
                    @if(value == -1)
                    {
                        <div class="sum-number"></div>
                    }
                    else
                    {
                        <div class="sum-number">@value</div>
                    }

                    @if(@board[a, b] == 0)
                    {
                        <div class="value"></div>
                    } else{
                        <div class="value">@board[a, b]</div>
                    }
                </div>

                @if (j == 2 || j == 5)
                {
                    <div class="vertical-line"/>
                }
            }      

            @if(i == 2 || i == 5)
            {
                <div class="horizontal-line"/>
            }
        }
    }
</div>

<br/>
<div id="digits">
    @for(int i = 1; i <= 9; i++)
    {
        int k = i;
        @if(i == @numberSelected)
        {
            <div id="@i" class="number number-selected" @onclick="() => SelectNumber(k)">
                <div class="sum-number"></div>
                <div class="value">@i</div>
            </div>
        }else
        {
            <div id="@i" class="number" @onclick="() => SelectNumber(k)">
                <div class="sum-number"></div>
                <div class="value">@i</div>
            </div>
        }
    }
</div>

@code {
    int numberSelected = 0;
    string[] colors = new string[]
    {
        "#96FAFF",
        "#EEE4A0",
        "#EAB0C8",
        "#E3DC41",
        "#6188B1",
        "#DB8EBC",
        "#96FD76",
        "#B8BCB6",
        "#BC4B26",
        "#72864A",
        "#E3CDD7",
        "#1DA7AC",
        "#1DA73F",
        "#9F173D",
        "#DABE1F",
        "#A7EAB2",
        "#FAFCC5",
        "#96FAFF",
        "#EEE4A0",
        "#EAB0C8",
        "#E3DC41",
        "#6188B1",
        "#DB8EBC",
        "#96FD76",
        "#B8BCB6",
        "#BC4B26",
        "#72864A",
        "#E3CDD7",
        "#1DA7AC",
        "#1DA73F",
        "#9F173D",
        "#DABE1F",
        "#A7EAB2",
        "#FAFCC5",
        "#96FAFF",
        "#EEE4A0",
        "#EAB0C8",
        "#E3DC41",
        "#6188B1",
        "#DB8EBC",
        "#96FD76",
        "#B8BCB6",
        "#BC4B26",
        "#72864A",
        "#E3CDD7",
        "#1DA7AC",
        "#1DA73F",
        "#9F173D",
        "#DABE1F",
        "#A7EAB2",
        "#FAFCC5",
    };
    int errors = 0;
    int[,]? board;
    int[,]? solution;

    Dictionary<List<int>, int> killerValues = new Dictionary<List<int>, int>();
    List<int[]> firstElements = new List<int[]>();

    public void SelectNumber(int i)
    {
        numberSelected = i;
    }

    public void SelectTile(int i, int j)
    {
        if(board == null || solution == null)
        {
            return;
        }
        if(numberSelected != 0 && board[i, j] == 0)
        {
            if (numberSelected == solution[i, j])
            {
                board[i, j] = numberSelected;
            }
            else
            {
                errors++;
            }
        }
    }

    public int IndexOfKillerField(int a, int b)
    {
        int index = a * 9 + b + 1;
        int result = 0;
        foreach(var killer in killerValues)
        {
            foreach(var field in killer.Key)
            {
                if(field == index)
                {
                    return result;
                }
            }
            result++;
        }
        return -1;
    }

    public int ValueOfKillerField(int a, int b)
    {
        int index = a * 9 + b + 1;
        foreach (var killer in killerValues)
        {
            if(killer.Key[0] == index)
            {
                return killer.Value;
            }
        }
        return -1;
    }

    protected override async Task OnInitializedAsync()
    {
        var viewModel = await sudokuService.GetKillerSudoku();
        if (viewModel == null) {
            board = null;
            return;
        }
        board = new int[viewModel.Size, viewModel.Size];
        solution = new int[viewModel.Size, viewModel.Size];
        int z = 0;
        for(int i = 0; i < viewModel.Size; i++)
        {
            for(int j = 0; j < viewModel.Size; j++)
            {
                board[i, j] = viewModel.Board[z];
                z++;
            }
        }

        z = 0;
        for(int i = 0; i < viewModel.Size; i++)
        {
            for(int j = 0; j < viewModel.Size; j++)
            {
                solution[i, j] = viewModel.Solution[z];
                z++;
            }
        }

        z = 0;
        for (int i = 0; i < viewModel.KillerFields.Count; i++)
        {
            killerValues.Add(viewModel.KillerFields[z], viewModel.KillerValues[z]);
            z++;
        }
    }
}

